
/* Partie APP */
/* Navbar */
*{
margin: 0;
padding:0;
}

.link-app ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 3rem;
}

a {
  color: black;
  text-decoration:none;
  font-size: 1.1rem;
}

.link-app li {
  margin: 10px;
}
/* BUTTON */

.form-button {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  margin-right: 11rem;
}

.input {
  width: 10rem;
  margin-left: 0.3rem;
}

.button {
  border-radius: 5px;
  height: 1.6rem;
  width: 3.4rem;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin-left: 0.3rem;
}
/* FAVORITE */

/*DisplayWeather*/
.weather-icon {
  width: 50px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  padding-top: 23px;
  padding-bottom: 23px;
}

.footer p {
  margin: 10px;
}